.shopping-cart {
  padding: 50px 30px 30px 30px;
}

.shopping-cart > *,
.inner-shopping-cart > * {
  color: rgb(29, 29, 29);
  margin-bottom: 30px;
}

.inner-shopping-cart button {
  background-color: #f72b3f;
  color: white !important;
}

.inner-shopping-cart button:hover {
  background-color: #f72b3f;
}

a:hover {
  text-decoration: none;
}

.active-cart {
  width: 100%;
}

.sample-image {
  width: 100px;
  height: 100px;
}

.price {
  color: #00aa1c !important;
}

.flex-spacebetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.checkout-btn {
  width: 200px;
  height: 50px;
  background: #00aa1c;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
}

.checkout-btn:hover {
  background: white;
  border: 2px solid #00aa1c;
  color: #00aa1c;
}

.bootstrap-select .btn:focus {
  outline: none !important;
}

.form-control {
  width: 120px;
  border: 2px solid green;
}

.form-control:focus {
  border: 2px solid green;
  box-shadow: none;
}
