#header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 55px;
  background-color: white;
}
.loginButton {
  text-decoration: none;
  color: green;
  align-items: center;
  justify-content: center;
  display: flex;
}

.loginButton:hover {
  color: green;
}

.nav-link {
  color: rgb(29, 29, 29) !important;
}

.nav-link:hover {
  color: green !important;
}

.user-link {
  color: rgb(0, 59, 10);
  font-size: 18px;
}
