.product {
  background-color: rgb(247, 247, 247);
  width: fit-content;
  left: 250px;
  margin-top: 61px;
  padding: 20px 20px;
  height: fit-content;
  position: absolute;
}

.side-bar{
    margin-top: 60px;
}

.product-img {
  width: 200px;
  height: 200px;
}

.colors {
  padding-top: 10px;
  margin-right: 10px;
}

.colors p {
  text-transform: capitalize;
}

.product .MuiTableContainer-root {
  width: 1300px;
  overflow-x: auto;
}
